* {
    font-family: 'Roboto', sans-serif;
    color: #979494;
    font-weight: bold;
}

*::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background-color: #1a1a20; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background: #282c34; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #282C34;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    background-color: #769656;
    padding: 15px;
    border-radius: 10px;
}

.board-title {
    color: #EE9D24;
    text-transform: uppercase;
}

.cell {
    width: 70px;
    height: 70px;
    font-weight: bolder;
    font-size: 25px;
    color: #19282d;
    background-color: #EEEED2;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    cursor: pointer;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-gap: 50px;
}

.cell-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: #52603c;
}

.boards {
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
}

.board-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.board-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dashboard {
    display: grid;
    grid-template: repeat(3, 0.33fr)/ repeat(2, 0.5fr);
    padding: 10px;
}

.dashboard-wrapper {
    grid-column: 1 / 3;
    grid-row: 2;
    margin: 9% 20%;
    width: 60%;
    min-width: 320px;
}

.dashboard-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10%;
}

.dashboard-box {
    display: flex;
    justify-content: start;
    align-items: center;
}

.dashboard-box > p {
    margin-right: 10px;
}

.box-wrapper {
    background-color: #1A1A20;
    border-radius: 10px;
    padding: 10px;
}

.solvable {
    color: #769656;
}

.unsolvable {
    color: #D76161;
}