html, body {
    background-color: #1f1f1f;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 72px);
    grid-template-rows: repeat(3, 72px);
    background-color: #d5c69c;
    padding: 5px;
    border: black solid 4px;
    border-radius: 10px;
}

.board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}


.cell {
    width: 70px;
    height: 70px;
    font-weight: 900;
    font-size: 20px;
    color: #19282d;
    border: black solid 1px;
    background-color: #f57f7f;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    cursor: pointer;
}

.dashboard {
    height: 80%;
    background-color: #61dafb;
}

.wrapper {
    display: flex;
    justify-content: start;
}